* {
  margin: 0;
}
/* grid system */

.grid {
  display: grid;

  grid-template-areas:
    " head head head"
    " about about about"
    " skill skill skill"
    " img-container img-container img-container"
    "footer footer footer";
}



/* nav bar */

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 60px;
  grid-area: head;
  background-color: #9eb384;
  border: 1px solid #435334;
  opacity: 0.9;
  z-index: 1;
}

.header h1 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 1%;
  font-size: 2vw;
  width: 49vw;
}

.header nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 50vw;
}
.header h4 {
  display: inline-flex;
  flex-direction: row;
  padding: 0 4%;
  font-size: 1.5vw;
}

.header a:visited {
  color: black;
}
.header a {
  color: black;
  text-decoration: none;
}

.header i {
  font-size: 1.5vw;
  font-weight: 600;
  display: none;
}

/* About me section */

.aboutMe {
  position: relative;
  top: 11vh;
  grid-area: about;
  height: 70vh;
  background-image: url("/resources/images/about.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
}

.about {
  height: 45%;
  width: 60%;
  text-align: center;
  background-color: #faf1e4;
  opacity: 0.8;
  padding: 1% 1%;
  margin-bottom: 1%;
}
.about h4 {
  padding: 1% 12% 1%;
}

.desBtn {
  margin-top: 1%;
}

.btn {
  height: 8%;
  width: 12%;
  border-radius: 25px;
  font-size: 1.25vw;
  transition: wdith 0.15s ease-in, font-size 0.15s ease-in;
  background-color: #7c96ab;
}

.btn:hover {
  background-color: #9bcdd2;
  color: white;
  width: 14%;
  font-size: 1.5vw;
  
}

/* skils section */
.img-container {
  grid-area: img-container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 1.25vw;
}

.skill {
  grid-area: skill;
}
.skill1 {
  text-align: center;
  margin-top: 1%;
}

.skill1 img,
.skill2 img,
.skill3 img {
  height: 16vw;
  width: 27vw;
  margin: 1%;
  border: 2px solid #9eb384;
  border-radius: 10px;
}

.skill2 {
  text-align: center;
  margin-top: 1%;
}
.skill3 {
  text-align: center;
  margin-top: 1%;
}

.skill {
z-index: 1;
margin-top: 80px;
margin:80px 0 20px ;
  height: 4vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
}

/* contact section */

.footer h1 {
  margin: 2% 0;

}

.footer {
  grid-area: footer;
  text-align: center;
  margin-top: 2%;
  height: 35vw;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.name, .email, .message {
  width: 100%;
}

.flex input, .flex label {
  padding: 0% 2%;

}

.flex label, .message {
  font-size: 1.5vw;
  font-weight: 600;
}
.message {
  display: flex;
  align-items: center;
  justify-content: center;
 
   
}

.message label {
  padding: 0 1.5%;
}

 .sub {
  width: 7vw;
  height: 3vw;
  font-size: 1.35vw;
  border-radius: 25px;
  transition: width 0.15s ease-in, font-size 0.15s ease-in;
}

.sub:hover {
  background-color: #9bcdd2;
  color: white;
  width: 8vw;
  font-size: 1.5vw;
}


input::placeholder , textarea::placeholder {
  font-weight: bold;
  color: black;
}

.flex input, .message textarea {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}


.made {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 7% auto 3% 1.5%;
}

/* About Page */

.about-page {
  background-image: url("/resources/images/about\ background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  display: grid;

  grid-template-areas:
    "Image  detail"
    "image  detail";

  margin-top: 15%;
}

.detail {
  grid-area: detail;
  background-color: #F9F5EB;
  opacity: .8;
  color: black;
  text-align: center;
  font-size: 1.0625rem;
  line-height: 2;
}

.image {
  grid-area: image;
  text-align: center;

}

.image img {
  height: 21.875rem;
  width: 21.875rem;
}


/* mobile responsive */


